#story .content{
    width: 100%;
}
#story .content h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
#story .content h1 span{
    color: rgb(183, 255, 0);
}
#story .content .card{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.101);
    padding: 50px; 
    border-left: solid 0.1px rgb(200, 255, 0);
    border-right: solid 0.1px rgb(200, 255, 0);
    text-align: center;
    margin-top: 25px;
}
#story .content .card div{
    color: rgb(154, 154, 154);
    font-size: 25px;
}
#story .content .card div span{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
@media (max-width: 768px) {
    #story .content h1 {
        font-size: 103px;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    
}