#mission .content{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 50%;
    margin: auto;
}
#mission .content .left-side{  
    width: 50%;
}
#mission .content .left-side img{  
    width: 100%;
}
#mission .content .right-side{
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size:30px;
}
#mission .content .right-side p{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.278);
    font-size: 50%;

}
#mission .content .right-side p span{
    font-size: 90%;
    font-weight: 600;
    text-transform: uppercase;
    margin:20px 0;
    color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
    #mission .content {
        display: flex;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        margin: auto;
    }
    #mission .content .right-side p span {
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 0;
        color: rgb(255, 255, 255);
    }
    #mission .content .right-side {
        color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 50px;
    }
}