#about-2 .content .card{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 50%;
    margin: auto;
}
#about-2 .content .card .left-side{
    width: 50%;
    margin: 20px 0;
}
#about-2 .content .card .left-side h1{
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
#about-2 .content .card .left-side h1 span{
    color: rgb(183, 255, 0);
}
#about-2 .content .card .left-side p{
    color: rgba(255, 255, 255, 0.338);
    font-size: 80%;
}
#about-2 .content .card .right-side{
    width: 50%;
}
#about-2 .content .card .right-side img{
    width: 100%;
}
